{% extends "base.html" %}
{% load staticfiles %}
{% load get_item %}

{% block title_block %}
    {% if category %}
        {{ category }}
    {% else %}
        Marketplace | aiXai
    {% endif %}
{% endblock %}

{% block body_block %}
    <div class="row">
        <div class="col-sm-3 pt-4 mt-1 border-left border-right" id="sidebar-right">
            <p class="text-secondary">Categories</p>
            <ul class="list-group">
                {% if categories %}
                    {% for category in categories %}
                        <li class="list-group-item"><a href="/marketplace/{{ category.name }}">{{ category.name }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>

        <div class="col-sm-9 pt-4">
            <h3><a href="{% url 'marketplace:index' %}">Marketplace</a></h3>
            {% if no_of_postings > 0 %}
                <p>{{ no_of_postings }} posting(s) found</p>
                <div class="row">
                    {% for posting in postings %}

                        <div class="card card-style ml-3 mb-3" style="width: 18rem;">
                            <img class="card-img-top" src="{% static 'images/neuralnet.jpeg' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ posting.submission.name }}</h5>
                                <p class="card-text">
                                    Price: ${{ posting.price }}<br>
                                    {{ no_of_entries|get_item:posting.id }} {{ posting.submission.data_type }}s<br>
                                    by <a href="/user/{{ posting.user.user.username }}">{{ posting.user.user.username }}</a>
                                </p>
                                <a href="#" class="btn btn-secondary btn-block disabled">Buy</a>
                            </div>
                        </div>

                    {% endfor %}

                </div>
            {% else %}
                <p>No postings available for this category.</p>
            {% endif %}

        </div>
    </div>

{% endblock %}
