{% extends "base.html" %}
{% block title_block %}
    {% if category %}
        {{ category }}
    {% else %}
        Marketplace | aiXai
    {% endif %}
{% endblock %}

{% block body_block %}
    <div class="row">
        <div class="col-md-3 pt-4 mt-1 border-left border-right" id="sidebar-right">
            <p class="text-secondary">Categories</p>
            <ul class="list-group">
                {% if categories %}
                    {% for category in categories %}
                        <li class="list-group-item"><a href="/marketplace/{{ category.name }}">{{ category.name }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>

        <div class="col-md-9 pt-4">
            <h3><a href="{% url 'marketplace:index' %}">Marketplace</a></h3>
            {% if no_of_postings > 0 %}
                <p>{{ no_of_postings }} posting(s) found</p>
                {% for posting in postings %}
                    {{ posting.submission.name }}
                {% endfor %}
            {% else %}
                <p>No postings available for this category.</p>
            {% endif %}

        </div>
    </div>

{% endblock %}
